<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="MySQL" providerName="Mysql.Data.MySqlClient" connectionString="server=iluxaicu.beget.tech; user=iluxaicu_test; 
			 database=iluxaicu_test; port=3306; password=AmVl*Gc4"/>
	</connectionStrings>
</configuration>
